
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  display: block;
}

h1,
h2 {
  text-align: center;
}

.books {
  width: 80%;
  background-color: lavender;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 0.4em;
  margin: 2rem;
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 0;
}

.book:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

.book button {
  background-color: whitesmoke;
  border: 2px solid gray;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  font-weight: 600;
  margin: 0 1em;
  cursor: pointer;
}

.book p {
  margin: 0 1em;
}

.bookInput {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: flex-end;
  width: 20rem;
  margin: 4rem auto;
}

.bookInput input {
  width: 100%;
  padding: 0.5em;
  border: 2px solid black;
  border-radius: 0.2em;
}

.add-book-btn {
  padding: 0.5em 1em;
  border: 2px solid gray;
  cursor: pointer;
  border-radius: 0.2em;
}

header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 1rem;
  border: 1px solid black;
  margin-left: 10%;
  margin-top: 3%;
  margin-right: 10%;
  margin-bottom: 3%;
}

#logo {
  font-size: 2rem;
}

hr {
  margin: 20px auto;
  width: 10rem;
}

header ul {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  list-style-type: none;
}

header ul li {
  cursor: pointer;
  padding: 0.5em 1em;
  border-left: 1px solid black;
}

a {
  text-decoration: none;
}

.contact {
  width: 70%;
}

.contact p {
  font-size: 2rem;
}

.contact ul {
  padding-left: 10%;
  padding-top: 5%;
}

footer {
  width: 80%;
  margin-left: 10%;
  border: 1px solid black;
}

.tim {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.hide {
  display: none;
}

.show {
  display: block;
}
